@page "/cart"
@using Newtonsoft.Json
@using WebAsemly_NoiThat.Service
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject LocalStorageService LocalStorageService

<div class="container my-5 cart-custom">
    <h2 class="mb-4 font-weight-bold">GIỎ HÀNG</h2>
    <div class="row">
        <div class="col-md-8">
            @if (cartItems == null)
            {
                <p><em>Loading...</em></p>
            }
            else if (cartItems.Count == 0)
            {
                <p><em>Giỏ hàng trống</em></p>
            }
            else
            {
                @foreach (var item in cartItems)
                {
                    <div class="cart-item d-flex justify-content-between align-items-center mb-3 p-3 border">
                        <div class="d-flex align-items-center">
                            <img src="/Image_SP_ASM/@item.HinhAnh" class="img-fluid" style="width: 100px; height: auto;">
                            <div class="ml-3">
                                <h5>@item.TenSP</h5>
                                <p>Giá: @item.Gia.ToString("N0") VNĐ</p>
                            </div>
                        </div>
                        <div>
                            <div class="input-group w-auto justify-content-end align-items-center">
                                <input type="button" value="-" class="button-minus border icon-shape icon-sm mx-1" @onclick="() => UpdateQuantity(item, -1)">
                                <input type="number" step="1" min="1" max="10" value="@item.Quantity" class="quantity-field border-0 text-center w-auto" readonly>
                                <input type="button" value="+" class="button-plus border icon-shape icon-sm lh-0" @onclick="() => UpdateQuantity(item, 1)">
                            </div>
                        </div>
                        <div>
                            <p>@((item.Gia * item.Quantity).ToString("N0"))VNĐ</p>
                        </div>
                        <button class="btn fs-3" @onclick="() => RemoveFromCart(item)">&times;</button>
                    </div>
                }

            }
        </div>
        <div class="col-md-4">
            <div class="p-3 border" style="background-color: #ECEBE9;">
                <h4>Order Summary</h4>
                <div class="lh-1">
                    <p>Order value: @(totalPrice.ToString("N0")) VNĐ</p>
                    <p>Shipping: 0.00 VNĐ</p>
                    <p>Tổng: <span class="text-danger font-weight-bold">@(totalPrice.ToString("N0")) VNĐ</span></p>
                </div>

                <button class="cart-btn-checkout btn-block" @onclick="ChuyenTrangThanhToan">THANH TOÁN</button>
            </div>
        </div>
    </div>
</div>

@code {
    
}
