@page "/"
@using WebAsemly_NoiThat.Service
@inject ProductService ProductService

<h3>Products</h3>

@if (SanPham == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in SanPham)
            {
                <tr>
                    <td>@product.TenSP</td>
                    <td>@product.Gia</td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="container">
    <div class="row">
        <div style="position:relative">
            <span style="font-size:30px;">Sản phẩm mới</span>
            <a asp-action="DanhSachSanPham" asp-controller="Home" class="xemtatca">
                <span class="text-primary" style="position:absolute; right:0px;margin-top:15px">
                    Xem tất cả
                    <span class="bi bi-chevron-double-right text-primary"></span>
                </span>
            </a>
        </div>
        <hr />
        @if (SanPham == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var obj in SanPham)
            {
                <div class="col-md-3 mt-4 text-center" id="@obj.ID">
                    <div class="card border border-0 cardkhung">
                        <div class="mt-2" style="height:15%">
                            <h5 class="card-title">@obj.TenSP</h5>
                        </div>
                        <div style="width:60%; height:60%; margin: 0 auto">
                             <img src="@obj.HinhAnh" class="w-100 h-100">
                         </div>
                        <div style="height:5%">
                            <p class="card-text mt-2 text-danger">@obj.Gia.ToString("N0") VNĐ</p>
                        </div>
                        <div style="height:20%">
                            @if (obj.SoLuongTrongKho == 0)
                            {
                                <button class="btn btn-primary mb-3 btnhideen" onclick="chuyentrang('@obj.ID')">Xem thêm</button>
                                <button class="btn btn-primary mb-3 btnhideen1">Hết hàng</button>
                            }
                            else
                            {
                                <button class="btn btn-primary mb-3 btnhideen" onclick="chuyentrang('@obj.ID')">Xem thêm</button>
                                <form asp-action="AddToCart" asp-controller="GioHang" method="post" class="add-to-cart-form">
                                    <input type="hidden" name="productId" value="@obj.ID" />
                                    <button type="submit" class="btn btn-danger mb-3 btnhideen1 add-to-cart-button">Thêm vào giỏ</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            }
        
        }
        
    </div>
</div>



@code {
    private List<Model.Product> SanPham;

    protected override async Task OnInitializedAsync()
    {
        SanPham = await ProductService.GetProducts();
    }
}
