@page "/TaiKhoan/{id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using WebAsemly_NoiThat.Model

<div class="container">
    <div class="mt-3">
        <a href="/" style="text-decoration:none; color:black; font-weight:bold">Trang chủ</a> |
        <a style="text-decoration:none; color:black; font-weight:bold">Thông tin tài khoản</a>
    </div>
    <div style="margin-top:30px">
        <div style="border-left: 10px solid royalblue">
            <p style="font-size:25px; font-weight:bold; text-transform:uppercase; padding-left:10px">Thông tin cá nhân</p>
        </div>
        <hr />
    </div>
    <EditForm Model="@account" OnValidSubmit="UpdateAccount">
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="@account.HinhAnh" height="100px" width="100px" style="border-radius:50%; object-fit:cover; border:1px solid black">
                    <br />
                    <label for="profileImage" class="btn btn-primary mt-3">
                        Chọn ảnh
                        <InputFile type="file" id="profileImage" name="profileImage" class="d-none" OnChange="HandleFileSelected" />
                    </label>
                    
                </div>
                <div>
                    <a href="/DonHang" style="text-decoration:none; color:black; font-weight:bold">Đơn hàng</a><br />
                    <a href="/DoiMatKhau" style="text-decoration:none; color:black; font-weight:bold">Đổi mật khẩu</a> <br />
                    <a href="/Logout" style="text-decoration:none; color:black; font-weight:bold">Đăng xuất</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="TenND">Tên Người Dùng</label>
                    </div>
                    <div class="col-md-9">
                        <InputText class="form-control sua" id="TenND" @bind-Value="account.TenNguoiDung" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="Email">Email</label>
                    </div>
                    <div class="col-md-9">
                        <InputText type="email" class="form-control sua" id="Email" @bind-Value="account.Email" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="Diachi">Địa Chỉ</label>
                    </div>
                    <div class="col-md-9">
                        <InputText class="form-control sua" id="Diachi" @bind-Value="account.DiaChi" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="SDT">Số Điện Thoại</label>
                    </div>
                    <div class="col-md-9">
                        <InputText class="form-control sua" id="SDT" @bind-Value="account.SDT" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label>Giới Tính</label>
                    </div>
                    <div class="col-md-9">
                        <InputRadioGroup @bind-Value="account.GioiTinh">
                            <div class="d-flex">
                                @foreach (var gender in new[] { "Nam", "Nữ" })
                                {
                                    <div class="form-check mr-3">
                                        <InputRadio id="@($"gioiTinh{gender}")" class="form-check-input" Value="@gender" />
                                        <label class="form-check-label" for="@($"gioiTinh{gender}")">@gender</label>
                                    </div>
                                }
                            </div>
                        </InputRadioGroup>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" style="width: 150px; border-radius:0; padding:10px">Cập Nhật</button>
            
                @if (!string.IsNullOrEmpty(Message))
                {
                    <div class="alert alert-success mt-3" role="alert">
                        @Message
                    </div>
                }
            </div>
        </div>
    </EditForm>
</div>


@code {
    
}